body {
  color: #212121;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}
.link {
  text-decoration: none;
  color: #212121;
}
.button {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}
.button:hover {
  background-color: #2196f3;
  color: #ffffff;
}
.name-project {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
}
.type-project {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}
.link:hover {
  color: #2196f3;
}
.text-header {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.41px;
}
.text-footer {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.text-header2 {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.41px;
}
.text-footer2 {
  color: #ffffff 60%;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.logo {
  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 30.52px;
}
.color-logo {
  color: #2196f3;
}
.team {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
}
.workplace {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
}
ul {
  list-style-type: none;
}
.lorem1 {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.41px;
}
.lorem2 {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
