body {
  color: #212121;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}
.link {
  text-decoration: none;
  color: #212121;
}
.button {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
}
.button1 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  cursor: pointer;
}
.button1:hover {
  background-color: #2196f3;
  color: #ffffff;
}

.name-project {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
}
.type-project {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}
.link:hover {
  color: #2196f3;
}
.link-text-header {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.41px;
  text-decoration: none;
}
.link-text-header:hover {
  color: #2196f3;
}
.text-footer {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.link-text-header2 {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.41px;
  text-decoration: none;
}
.link-text-header2:hover {
  color: #2196f3;
}
.link-text-footer2 {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
}
.link-text-footer2:hover {
  color: #2196f3;
}
.logo {
  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 30.52px;
}
.color-logo {
  color: #2196f3;
}
.team {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
}
.workplace {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
}
ul {
  list-style-type: none;
}
.lorem1 {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.41px;
}
.lorem2 {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.header-name {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 42.19px;
}
.slogan {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
}
.header1 {
  background-color: #ffffff;
}
.slogan1 {
  background-color: #2f303a;
}
.what-we-do {
  background-color: #ffffff;
}
.our-team {
  background-color: #f5f4fa;
}
.footer-address {
  background-color: #2f303a;
}
.main-section {
  background-color: #e5e5e5;
}
.color-logo2 {
  color: #ffffff;
}
